:root {
  --primary: #bada55;
  --primaryDark: #a4bf4a;
  --light: #c0c5af;
  --dark: #3b451a;
  --font: 'Courier New', Courier, monospace;
}

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: white;
  font-family: var(--font);
}

.flexRow {
  display: flex;
}

.flexRow > div {
  flex: 1;
}

.flexRow > div:last-child {
  text-align: right;
}

.appTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 60px;
  background: var(--primary);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4);
  color: white;
}

.songContainer {
  padding: 50px;
}

.label {
  margin: 0;
  font-size: 16px;
  color: var(--light);
  cursor: pointer;
}

.label:hover {
  text-decoration: underline;
}

.label.small {
  font-size: 12px;
}

.text {
  margin: 0;
  font-size: 20px;
  color: var(--dark);
}

.text.small {
  font-size: 14px;
  color: var(--light);
}

.pullRight {
  position: absolute;
  right: 0;
  bottom: 0;
}

.separator {
  border: none;
  height: 1px;
  background: #f5f5f5;
  margin: 25px 0;
}

.generateSongButton {
  position: absolute;
  bottom: 25px;
  left: 50px;
  font-family: var(--font);
  font-size: 20px;
  border: none;
  background: var(--primary);
  color: white;
  border-radius: 3px;
  padding: 8px;
  cursor: pointer;
  outline: none;
}

.generateSongButton:hover {
  background: var(--primaryDark);
}
